.contenedor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fila {
    display: flex;
}

.cuadrado {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.rojo { background-color: red; }
.verde { background-color: green; }
.azul { background-color: blue; }

.inicio { justify-content: flex-start; }

.final { justify-content: flex-end; }

.espacio { justify-content: space-between; }

.invertida { flex-direction: row-reverse; }
